* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

body {
	background-color: #25252b;
}

.container {
	max-width: 1060px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.text {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7f7fd;
}
.text_grey {
	color: #41414a;
	font-weight: 700;
}
.text_center {
	text-align: center;
}
.text__h1 {
	font-size: 18px;
}
.text__icon {
	vertical-align: middle;
}
.text__profit {
	font-size: 22px;
	font-weight: 700;
	color: #059202;
}
.text__detailedBar {
	padding-top: 15px;
}
.text__svg {
	height: auto;
	width: 15px;
}

.logo {
	display: block;
}
.logo_center {
	margin: 0 auto;
}
.logo__header {
	height: 115px;
}
.logo__bonus {
	margin-left: 5px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: -webkit-transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.button {
	background-color: #111114;
	text-decoration: none;
	padding: 0;
}

.hiddenSvg {
	display: none;
}

.header {
	background-image: url(../img/background/ursa.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: auto auto;
}
.header__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}
.header__logo {
	height: 150px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header__wrapper {
	padding: 30px 0 30px;
	background-color: #202025;
	-webkit-box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;
	box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;
}
.header__title {
	font-size: 18px;
	margin-left: 30px;
}
.header__intro {
	max-width: 980px;
	margin-left: 50px;
	margin-right: 30px;
}
.header__p {
	font-size: 14px;
	margin-top: 20px;
}

.main {
	padding: 30px 0 60px;
	background-image: url(../img/background/lina.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto;
}

.bar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 164px;
	background-color: #111114;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	color: #f7f7fd;
	border-radius: 30px;
	position: relative;
}
.bar:nth-child(2) {
	margin-top: 30px;
}
.bar:nth-of-type(n + 3) {
	margin-top: 60px;
}
.bar__item {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	width: 25%;
	text-align: center;
}
.bar__item:not(:nth-of-type(n + 5)):after {
	content: "";
	position: absolute;
	height: 68px;
	width: 1px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left bottom, left top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(bottom, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(0deg, #111114 0%, #41414a 50%, #111114 100%);
}
.bar__iconsGrid {
	display: grid;
	position: relative;
	grid-template: 40px 40px/repeat(4, 42px);
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
}
.bar__iconsGrid_4 {
	grid-template: 40px/repeat(4, 42px);
	position: static;
}
.bar__bets {
	display: grid;
	grid-template: 40px 40px / 168px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	position: relative;
}
.bar__moreIcons {
	font-size: 10px;
	background-color: #111114;
	color: #f7f7fd;
	width: 35px;
	height: 22px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 3px;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.bar__moreIcons:after {
	content: '...';
	font-size: 20px;
	line-height: 3px;
	font-weight: 700;
	margin-top: -5px;
}
.bar__moreIcons:hover {
	background-color: #25252b;
	border: none;
	border-radius: 10px;
}
.bar__moreIcons_active {
	background-color: #25252b;
	border: none;
	border-radius: 10px;
	position: relative;
	padding-top: 5px;
}
.bar__moreIcons_active:after {
	position: absolute;
	margin-top: -5px;
	content: '';
	width: 10px;
	height: 10px;
	left: 0;
	background-color: #25252b;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.bar__window {
	display: none;
	padding: 20px;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	grid-template: repeat(4, 43px)/repeat(4, 43px);
	width: 212px;
	height: 212px;
	position: absolute;
	z-index: 1;
	right: 70px;
	background-color: #111114;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	border-radius: 30px;
}
.bar__more {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.bartop {
	height: 100px;
}
.bartop__item {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	width: 25%;
	text-align: center;
}
.bartop__item:not(:last-child):after {
	content: "";
	position: absolute;
	height: 68px;
	width: 1px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left bottom, left top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(bottom, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(0deg, #111114 0%, #41414a 50%, #111114 100%);
}
.bartop__item:hover .bartop__arrow_hidden {
	opacity: 1;
}
.bartop__text {
	font-size: 18px;
	font-weight: 400;
	margin: 5px 0;
}
.bartop__text_active {
	font-weight: 700;
}
.bartop__text_bottom {
	color: #41414a;
	font-size: 12px;
	font-weight: 700;
}
.bartop__arrow {
	justify-self: center;
}
.bartop__arrow_hidden {
	opacity: 0;
}
.bartop__arrow_active {
	-webkit-filter: url(#white);
	filter: url(#white);
	-webkit-animation: action 0.8s infinite alternate;
	animation: action 0.8s infinite alternate;
}

@-webkit-keyframes action {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes action {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.bonus {
	display: block;
	margin: 0 auto !important;
	max-width: 900px;
	line-height: 30px;
	border-radius: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.bonus__content {
	margin: 0 auto;
	background-color: #111114;
	border-radius: 0;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.bonus__content_active {
	max-height: none;
	height: auto;
	margin-bottom: 150px;
	border-radius: 30px;
}
.bonus__item {
	padding: 30px;
	position: relative;
}
.bonus__item:nth-child(1):after {
	content: "";
	position: absolute;
	height: 1px;
	width: 772px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left top, right top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(left, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(90deg, #111114 0%, #41414a 50%, #111114 100%);
}
.bonus__item:nth-child(2):after {
	content: "";
	position: absolute;
	height: 1px;
	width: 772px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left top, right top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(left, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(90deg, #111114 0%, #41414a 50%, #111114 100%);
}
.bonus__title {
	padding: 10px;
	position: relative;
}
.bonus__title::after {
	content: "";
	position: absolute;
	height: 1px;
	width: 772px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left top, right top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(left, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(90deg, #111114 0%, #41414a 50%, #111114 100%);
}
.bonus__text {
	line-height: normal;
	overflow-wrap: break-word;
}
.bonus__p {
	margin-top: 25px;
	margin-left: 20px;
}
.bonus__btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	cursor: pointer;
	max-height: 30px;
	color: #41414a;
	-webkit-box-shadow: inset 0px 20px 12px -22px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 20px 12px -22px rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.bonus__btn:hover {
	padding-top: 10px;
	max-height: 40px;
}
.bonus__btn:hover .logo__bonus {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.bonus__btn__active {
	-webkit-box-shadow: none;
	box-shadow: none;
	max-height: 40px;
	padding-top: 10PX;
}
.bonus__btn__active:hover {
	max-height: 40px;
}
.bonus__btn__active .logo__bonus {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.bonus__btnText {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 45px 0;
	background-color: #202025;
	-webkit-box-shadow: inset 0px 10px 10px -10px black;
	box-shadow: inset 0px 10px 10px -10px black;
}
.footer__text {
	margin-left: 40px;
	width: 772px;
}
.footer__p {
	font-size: 14px;
}
.footer__contacts {
	margin-top: 20px;
	margin-left: 125px;
}

.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(37, 37, 43, 0.8);
	overflow-x: hidden;
}

.detailedBar {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 734px;
	padding: 50px;
	background-color: #111114;
	margin-top: 150px;
	margin-bottom: 30px;
}
.detailedBar__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 120px;
	padding-bottom: 15px;
	position: relative;
}
.detailedBar__item_column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.detailedBar__item:not(:last-child):after {
	content: "";
	position: absolute;
	height: 1px;
	width: 772px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left top, right top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(left, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(90deg, #111114 0%, #41414a 50%, #111114 100%);
}
.detailedBar__itemHalf {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	height: 68px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.detailedBar__itemHalf:nth-child(1)::after {
	content: "";
	position: absolute;
	height: 68px;
	width: 1px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left bottom, left top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(bottom, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(0deg, #111114 0%, #41414a 50%, #111114 100%);
}
.detailedBar__profit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detailedBar__profit > h1 {
	margin-right: 10px;
}
.detailedBar__profit::after {
	content: "13";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #f2ac06;
}
.detailedBar__info_left {
	width: 45%;
	margin-left: auto;
}
.detailedBar__icons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.detailedBar__icons > img {
	margin: 0 10px 0 10px;
}
.detailedBar__p {
	color: #41414a;
}
.detailedBar__text {
	color: #41414a;
	text-align: center;
	padding-top: 20px;
}
.detailedBar__absoluteTitle {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.detailedBar__absoluteTitle_bottom {
	top: -10%;
}
.detailedBar__betsTypes {
	margin: 0 auto;
	width: 515px;
}
.detailedBar__betsTypes_upper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
}
.detailedBar__betsTypes_upper::after {
	content: "25";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #d10b1d;
}
.detailedBar__betsTypes_lower {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detailedBar__betsPercent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.detailedBar__betsPercent::after {
	content: "5";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__expressBetsPercent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.detailedBar__expressBetsPercent::after {
	content: "25";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #d10b1d;
}
.detailedBar__liveBetsPercent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.detailedBar__liveBetsPercent::after {
	content: "25";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #d10b1d;
}
.detailedBar__bottom {
	height: auto;
	margin-top: 100px;
}
.detailedBar__grid {
	display: grid;
	grid-template-rows: repeat(5, 40px);
	grid-column: auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	height: auto;
}
.detailedBar__grid:nth-of-type(1)::after {
	content: "";
	position: absolute;
	height: 154px;
	width: 1px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #111114;
	background: -webkit-gradient(linear, left bottom, left top, from(#111114), color-stop(50%, #41414a), to(#111114));
	background: -o-linear-gradient(bottom, #111114 0%, #41414a 50%, #111114 100%);
	background: linear-gradient(0deg, #111114 0%, #41414a 50%, #111114 100%);
}
.detailedBar__gridField {
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 40px 144px auto auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-self: start;
}
.detailedBar__gridField_disabled {
	-webkit-filter: contrast(0) url(#disabled);
	filter: contrast(0) url(#disabled);
}
.detailedBar__input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detailedBar__input::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__output {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.detailedBar__output::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__visa_in::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__visa_out::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__mastercard_in::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__webmoney_in::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__webmoney_out::after {
	content: "1";
	font-family: 'PT Sans', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	color: #111114;
	min-width: 20px;
	height: 12px;
	padding: 1px 6px 0 6px;
	margin-left: 10px;
	border-radius: 6px;
	background-color: #059202;
}
.detailedBar__closeButton {
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 3;
}

/*# sourceMappingURL=main.css.map */
