* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

body {
  background-color: #25252b; }

.container {
  width: 1060px;
  margin: 0 auto; }

.text {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #f7f7fd; }
  .text__h1 {
    font-size: 18px;
    font-weight: 700; }
  .text__icon {
    vertical-align: middle; }
  .text__svg {
    height: auto;
    width: 15px; }

.header__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%); }

.header__logo {
  display: block;
  margin: 15px auto 20px; }

.header__wrapper {
  padding: 30px 0 30px;
  background-color: #202025;
  -webkit-box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;
  -moz-box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black;
  box-shadow: inset 0px 10px 10px -10px black, inset 0px -10px 10px -10px black; }

.header__title {
  font-size: 18px;
  margin-left: 30px; }

.header__intro {
  width: 980px;
  margin-left: 50px;
  margin-right: 30px; }

.header__p {
  font-size: 14px;
  margin-top: 20px; }

.background__lina {
  position: absolute;
  z-index: -1; }

.bar {
  background-color: #111114;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  color: #f7f7fd;
  border-radius: 30px;
  width: 100%;
  height: 164px;
  margin-top: 30px;
  display: grid;
  grid-template: 1fr/repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  position: relative; }
  .bar__more {
    position: absolute;
    bottom: 25px;
    right: 25px; }
  .bar:hover + .bonus {
    top: 40px; }
  .bar__bonus {
    box-shadow: inset 0px 20px 12px -22px rgba(0, 0, 0, 0.75);
    display: block;
    margin: 0 auto;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 900px;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease; }
    .bar__bonus:hover {
      height: 40px; }

.bartop {
  height: 100px; }
  .bartop__item {
    text-align: center; }
    .bartop__item:hover .bartop__arrow_hidden {
      opacity: 1; }
    .bartop__item:nth-child(n + 3) {
      display: grid;
      grid-template: repeat(3, 1fr)/1fr;
      align-items: center; }
  .bartop__text {
    font-size: 18px;
    font-weight: 400;
    position: relative; }
    .bartop__text_active {
      font-weight: 700; }
    .bartop__text_bottom {
      color: #41414a;
      font-size: 12px;
      font-weight: 700; }
  .bartop__arrow {
    justify-self: center; }
    .bartop__arrow_hidden {
      opacity: 0; }
    .bartop__arrow_active {
      filter: url(#white);
      -webkit-animation: action 0.8s infinite alternate;
      animation: action 0.8s infinite alternate; }

@-webkit-keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-5px); } }

@keyframes action {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-5px); } }

.button__more {
  color: #41414a;
  text-decoration: none; }

.bonus {
  display: block;
  width: 900px;
  margin: 0;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.5s ease; }
  .bonus__text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: #41414a;
    text-decoration: none; }
  .bonus:hover {
    height: 150px; }

.wayGrid {
  display: grid;
  grid-template: 40px 40px / 168px;
  align-items: center;
  justify-items: center; }
  .wayGrid__icons {
    display: grid;
    grid-template: 40px/repeat(4, 42px);
    align-items: center;
    justify-items: center; }
  .wayGrid__text {
    text-align: center; }
  .wayGrid__moreButton {
    font-size: 10px;
    box-sizing: border-box;
    background-color: #25252b;
    color: #f7f7fd;
    width: 35px;
    height: 22px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 3px; }
    .wayGrid__moreButton:after {
      content: '...';
      font-size: 20px;
      line-height: 3px;
      font-weight: 700;
      margin-top: -3px; }

.disciplinesGrid {
  display: grid;
  grid-template: 40px 40px/repeat(4, 42px);
  align-items: center;
  justify-items: center;
  padding: 0 22px;
  border-right: 1px solid #25252b;
  border-left: 1px solid #25252b; }

.profit__value {
  font-size: 22px;
  font-weight: 700;
  color: #059202; }

.container__newbie {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 140px;
  margin: 25px 140px 0;
  padding: 30px; }

.container__more {
  position: absolute;
  bottom: 25px;
  right: 25px; }

/*# sourceMappingURL=main.css.map */
