@import "nullstyle";
@import "variables";
@import "mixins";

body {
	background-color: $body-bg;
}

.container {
	max-width: 1060px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.text {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: $white-text;
	&_grey {
		color: $grey-text;
		font-weight: 700;
	}
	&_center {
		text-align: center;
	}
	&__h1 {
		font-size: 18px;
	}
	&__icon {
		vertical-align: middle;
	}
	&__profit {
		font-size: 22px;
		font-weight: 700;
		color: $green-text;
	}
	&__detailedBar {
		padding-top: 15px;
	}
	&__svg {
		height: auto;
		width: 15px;
	}
}

.logo {
	display: block;
	&_center {
		margin: 0 auto;
	}
	&__header {
		height: 115px;
	}
	&__bonus {
		margin-left: 5px;
		transition: transform 0.2s ease-in-out;
	}
}

.button {
	background-color: $bar-color;
	text-decoration: none;
	padding: 0;
}

.hiddenSvg {
	display: none;
}

.header {
	background-image: url(../img/background/ursa.jpg);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: auto auto;
	&__background {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	&__logo {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__wrapper {
		padding: 30px 0 30px;
		background-color: $footer-header;
		box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 1), inset 0px -10px 10px -10px rgba(0, 0, 0, 1);
	}
	&__title {
		font-size: 18px;
		margin-left: 30px;
	}
	&__intro {
		max-width: 980px;
		margin-left: 50px;
		margin-right: 30px;
	}
	&__p {
		font-size: 14px;
		margin-top: 20px;
	}
}

.main {
	padding: 30px 0 60px;
	background-image: url(../img/background/lina.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto;
}

.bar {
	display: flex;
	width: 100%;
	height: 164px;
	background-color: $bar-color;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	color: $white-text;
	border-radius: 30px;
	position: relative;
	&:nth-child(2) {
		//TODO fix this
		margin-top: 30px;
	}
	&:nth-of-type(n + 3) {
		margin-top: 60px;
	}
	&__item {
		position: relative;
		@include flexAndCenterItem(row);
		&:not(:nth-of-type(n + 5)):after {
			@include border();
		}
	}
	&__iconsGrid {
		display: grid;
		position: relative;
		grid-template: 40px 40px / repeat(4, 42px);
		align-items: center;
		justify-items: center;
		&_4 {
			grid-template: 40px / repeat(4, 42px);
			position: static;
		}
	}
	&__bets {
		display: grid;
		grid-template: 40px 40px / 168px;
		align-items: center;
		justify-items: center;
		position: relative;
	}
	&__moreIcons {
		font-size: 10px;
		background-color: $bar-color;
		color: $white-text;
		width: 35px;
		height: 22px;
		box-sizing: border-box;
		display: flex;
		flex-flow: column;
		align-items: center;
		padding-top: 3px;
		transition: all 0.2s ease;
		&:after {
			content: '...';
			font-size: 20px;
			line-height: 3px;
			font-weight: 700;
			margin-top: -5px;
		}
		&:hover {
			background-color: $btn-bg;
			border: none;
			border-radius: 10px;
		}
		&_active {
			background-color: $btn-bg;
			border: none;
			border-radius: 10px;
			position: relative;
			padding-top: 5px;
			&:after {
				position: absolute;
				margin-top: -5px;
				content: '';
				width: 10px;
				height: 10px;
				left: 0;
				background-color: $btn-bg;
				transition: all 0.3s ease;
			}
		}
	}
	&__window {
		display: none;
		padding: 20px;
		justify-items: center;
		align-items: center;
		grid-template: repeat(4, 43px)/repeat(4, 43px);
		width: 212px;
		height: 212px;
		position: absolute;
		z-index: 1;
		right: 70px;
		background-color: $bar-color;
		box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
		border-radius: 30px;
	}

	&__more {
		position: absolute;
		bottom: 25px;
		right: 25px;
	}
}

.bartop {
	height: 100px;
	&__item {
		position: relative;
		@include flexAndCenterItem(column);
		&:not(:last-child):after {
			@include border();
		}
		&:hover .bartop__arrow_hidden {
			opacity: 1;
		}
	}
	&__text {
		font-size: 18px;
		font-weight: 400;
		margin: 5px 0;
		&_active {
			font-weight: 700;
		}
		&_bottom {
			color: $grey-text;
			font-size: 12px;
			font-weight: 700;
		}
	}
	&__arrow {
		justify-self: center;
		&_hidden {
			opacity: 0;
		}
		&_active {
			filter: url(#white);
			animation: action 0.8s infinite alternate;
		}
		@keyframes action {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(-5px);
			}
		}
	}
}

.bonus {
	display: block;
	margin: 0 auto !important;
	max-width: 90.5%;
	line-height: 30px;
	border-radius: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	&__content {
		margin: 0 auto;
		background-color: $bar-color;
		border-radius: 0;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		max-height: 0;
		overflow: hidden;
		transition: all 0.2s linear;
		&_active {
			max-height: none;
			height: auto;
			margin-bottom: 150px;
			border-radius: 30px;
		}
	}
	&__item {
		padding: 30px;
		position: relative;
		&:nth-child(1):after {
			@include borderBottom();
		}
		&:nth-child(2):after {
			@include borderBottom();
		}
	}
	&__title {
		padding: 10px;
		position: relative;
		&::after {
			@include borderBottom();
		}
	}
	&__text {
		line-height: normal;
		overflow-wrap: break-word;
	}
	&__p {
		margin-top: 25px;
		margin-left: 20px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		position: absolute;
		text-align: center;
		cursor: pointer;
		max-height: 30px;
		color: $grey-text;
		box-shadow: inset 0px 20px 12px -22px rgba(0, 0, 0, 0.75);
		transition: all 0.2s linear;
		&:hover {
			padding-top: 10px;
			max-height: 40px;
			& .logo__bonus {
				transform: rotate(180deg);
			}
		}
		&__active {
			box-shadow: none;
			max-height: 40px;
			padding-top: 10PX;
			&:hover {
				max-height: 40px;
			}
			& .logo__bonus {
				transform: rotate(180deg);
			}
		}
	}
	&__btnText {
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 45px 20px;
	background-color: $footer-header;
	box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 1);
	&__text {
		margin-left: 40px;
		max-width: 772px;
	}
	&__p {
		font-size: 14px;
	}
	&__contacts {
		margin-top: 20px;
		margin-left: 125px;
	}
}
//!POPUS
.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(37, 37, 43, 0.8);
	overflow-x: hidden;
}

.detailedBar {
	flex-direction: column;
	height: auto;
	padding: 50px;
	background-color: $bar-color;
	margin-top: 150px;
	margin-bottom: 30px;
	&__item {
		display: flex;
		flex-wrap: wrap;
		height: 120px;
		padding-bottom: 15px;
		position: relative;
		&_column {
			flex-direction: column;
			justify-content: flex-end;
		}
		&:not(:last-child):after {
			@include borderBottom();
		}
	}
	&__itemHalf {
		display: flex;
		width: 50%;
		height: 68px;
		justify-content: center;
		align-items: center;
		position: relative;
		&:nth-child(1)::after {
			@include border();
		}
	}
	&__profit {
		display: flex;
		align-items: center;
		& > h1 {
			margin-right: 10px;
		}
		&::after {
			@include numberAfter('13', #f2ac06);
		}
	}
	&__info {
		&_left {
			width: 45%;
			margin-left: auto;
		}
	}
	&__icons {
		display: flex;
		justify-content: center;
		& > img {
			margin: 0 10px 0 10px;
		}
	}
	&__p {
		color: $grey-text;
	}
	&__text {
		color: $grey-text;
		text-align: center;
		padding-top: 20px;
	}
	&__absoluteTitle {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		&_bottom {
			top: -10%;
		}
	}
	&__betsTypes {
		margin: 0 auto;
		width: 515px;
		&_upper {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
			&::after {
				@include numberAfter('25', #d10b1d);
			}
		}
		&_lower {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__betsPercent {
		display: flex;
		&::after {
			@include numberAfter('5', $green-text);
		}
	}
	&__expressBetsPercent {
		display: flex;
		&::after {
			@include numberAfter('25', #d10b1d);
		}
	}
	&__liveBetsPercent {
		display: flex;
		&::after {
			@include numberAfter('25', #d10b1d);
		}
	}
	&__bottom {
		height: auto;
		margin-top: 100px;
	}
	&__grid {
		display: grid;
		grid-template-rows: repeat(5, 40px);
		grid-column: auto;
		align-items: center;
		justify-items: center;
		height: auto;
		&:nth-of-type(1)::after {
			@include border(154px);
		}
	}
	&__gridField {
		display: grid;
		grid-template-rows: 40px;
		grid-template-columns: 40px 144px auto auto;
		align-items: center;
		justify-self: start;
		&_disabled {
			filter: contrast(0) url(#disabled);
		}
	}
	&__input {
		display: flex;
		align-items: center;
		&::after {
			@include numberAfter('1', $green-text);
		}
	}
	&__output {
		display: flex;
		align-items: center;
		&::after {
			@include numberAfter('1', $green-text);
		}
	}
	&__visa {
		&_in {
			&::after {
				@include numberAfter('1', $green-text);
			}
		}
		&_out {
			&::after {
				@include numberAfter('1', $green-text);
			}
		}
	}
	&__mastercard {
		&_in {
			&::after {
				@include numberAfter('1', $green-text);
			}
		}
	}
	&__webmoney {
		&_in {
			&::after {
				@include numberAfter('1', $green-text);
			}
		}
		&_out {
			&::after {
				@include numberAfter('1', $green-text);
			}
		}
	}
	&__closeButton {
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 3;
	}
}

/* Responsive */

@media screen and (max-width: 992px) {
	.container {
		max-width: 960px;
	}
	.bar__item:nth-child(2),
	.bartop__item:nth-child(2) {
		display: none;
	}
	.detailedBar__betsTypes {
		width: 400px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 720px;
	}

	.bar {
		flex-wrap: wrap;
		height: 280px;
	}
	.bar__item,
	.bartop__item {
		width: 50%;
		height: 50%;
	}
	.bar__item:nth-child(3),
	.bartop__item:nth-child(3) {
		order: 2;
	}
	.bar__item:nth-child(4),
	.bartop__item:nth-child(4) {
		order: 2;
		&:after {
			content: none;
		}
	}
	.bar__item:nth-child(1),
	.bartop__item:nth-child(1) {
		order: 1;
	}
	.bar__item:nth-child(5),
	.bartop__item:nth-child(5) {
		order: 1;
		&:after {
			@include borderBottom();
			left: 0%;
		}
	}
	.bar__more {
		bottom: 15px;
	}

	.detailedBar {
		height: auto;
	}
}

@media screen and (max-width: 576px) {
}
