@import "nullstyle.scss";

body {
	background-color: #25252b;
	position: relative;
}

.wrapper_all {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
}

.content {
	flex: 1 0 auto;
}

.container {
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
}

.text {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f7f7fd;
	&__h1 {
		font-size: 18px;
		//font-weight: 700;
	}
	&__icon {
		vertical-align: middle;
	}
	&__svg {
		height: auto;
		width: 15px;
	}
}

.header {
	&__background {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	&__logo {
		display: block;
		margin: 15px auto 20px;
	}
	&__wrapper {
		padding: 30px 0 30px;
		background-color: #202025;
		box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 1), inset 0px -10px 10px -10px rgba(0, 0, 0, 1);
	}
	&__title {
		font-size: 18px;
		margin-left: 30px;
	}
	&__intro {
		width: 980px;
		margin-left: 50px;
		margin-right: 30px;
	}
	&__p {
		font-size: 14px;
		margin-top: 20px;
	}
}

.main {
	padding: 1px 0;
	background-image: url(../img/background/lina.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto;
}

.bar {
	background-color: #111114;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	color: #f7f7fd;
	border-radius: 30px;
	width: 100%;
	height: 164px;
	margin-top: 30px;
	// display: grid;
	// grid-template: 1fr / repeat(5, 1fr);
	// align-items: center;
	// justify-items: center;

	// display: flex;
	// padding: 0 30px;
	// justify-content: space-between;
	// align-items: center;

	display: grid;
	grid-template: 1fr / 230px 1px 212px 1px 212px 1px 212px 1px 194px;
	align-items: center;
	justify-items: center;
	position: relative;
	&__more {
		position: absolute;
		bottom: 25px;
		right: 25px;
	}
	&__window {
		display: none;
		padding: 20px;
		grid-template: repeat(4, 43px)/repeat(4, 43px);
		width: 212px;
		height: 212px;
		position: absolute;
		z-index: 1;
		right: 70px;
		background-color: #111114;
		box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
		border-radius: 30px;
	}
}

.bartop {
	// padding: 0;
	// display: grid;
	// grid-template: 1fr / repeat(5, 1fr);
	// align-items: center;
	// justify-items: center;

	// display: grid;
	// grid-template: 1fr / 230px 212px 212px 212px 194px;
	// align-items: center;
	// justify-items: center;

	height: 100px;
	&__item {
		text-align: center;
		&:hover .bartop__arrow_hidden {
			opacity: 1;
		}
		&:nth-child(n + 5) {
			display: grid;
			grid-template: repeat(3, 1fr) / 1fr;
			align-items: center;
		}
	}
	&__text {
		font-size: 18px;
		font-weight: 400;
		position: relative;
		&_active {
			font-weight: 700;
		}
		&_bottom {
			color: #41414a;
			font-size: 12px;
			font-weight: 700;
		}
	}
	&__arrow {
		justify-self: center;
		&_hidden {
			opacity: 0;
		}
		&_active {
			filter: url(#white);
			animation: action 0.8s infinite alternate;
		}
		@keyframes action {
			0% {
				transform: translateY(0);
			}
			100% {
				transform: translateY(-5px);
			}
		}
	}
}

.button__more {
	color: #41414a;
	text-decoration: none;
}

.bonus {
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
	width: 900px;
	line-height: 30px;
	border-radius: 0;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	&__wrapper {
		margin: 0 auto;
		background-color: #111114;
		border-radius: 0;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		max-height: 0;
		width: 900px;
		overflow: hidden;
		transition: all 0.2s ease-out;
	}
	&__item {
		padding-top: 30px;
		padding-left: 30px;
		padding-bottom: 25px;
	}
	&__text {
		line-height: normal;
		overflow-wrap: break-word;
	}
	&__p {
		margin-top: 25px;
		margin-left: 20px;
	}
	&__separator {
		display: block;
	}
	&__btn {
		position: absolute;
		max-height: 30px;
		color: #41414a;
		box-shadow: inset 0px 20px 12px -22px rgba(0, 0, 0, 0.75);
		transition: all 0.2s ease;
		&:hover {
			max-height: 40px;
			padding-bottom: 10px;
		}
		&__active {
			max-height: auto;
			box-shadow: none;
			&:hover {
				max-height: 30px;
			}
		}
	}
	&_active {
		height: auto;
		max-height: 400px;
		margin-top: 130px;
		border-radius: 30px;
	}
	&_activeTitle {
		text-align: center;
		padding: 15px 0;
	}
}

.wayGrid {
	display: grid;
	grid-template: 40px 40px / 168px;
	align-items: center;
	justify-items: center;
	&__icons {
		display: grid;
		grid-template: 40px / repeat(4, 42px);
		align-items: center;
		justify-items: center;
	}
	&__text {
		text-align: center;
	}
	&__moreButton {
		font-size: 10px;
		background-color: #111114;
		color: #f7f7fd;
		width: 35px;
		height: 22px;

		display: flex;
		flex-flow: column;
		align-items: center;
		padding-top: 3px;
		transition: all 0.2s ease;
		&:after {
			content: '...';
			font-size: 20px;
			line-height: 3px;
			font-weight: 700;
			margin-top: -3px;
		}
		&:hover {
			box-sizing: border-box;
			background-color: #25252b;
			border: none;
			border-radius: 10px;
		}
		&_active {
			box-sizing: border-box;
			background-color: #25252b;
			border: none;
			border-radius: 10px;
			position: relative;
			padding-top: 5px;
			&:after {
				position: absolute;
				margin-top: -5px;
				content: '';
				width: 10px;
				height: 10px;
				left: 0;
				background-color: #25252b;
				transition: all 0.3s ease;
			}
		}
	}
}

.disciplinesGrid {
	display: grid;
	position: relative;
	grid-template: 40px 40px / repeat(4, 42px);
	align-items: center;
	justify-items: center;
	// &__more {
	// 	position: relative;
	// 	&:hover {
	// 		padding-top: 5px;
	// 	}
	// 	&:hover:after {
	// 		position: absolute;
	// 		margin-top: -5px;
	// 		content: '';
	// 		width: 10px;
	// 		height: 10px;
	// 		left: 0;
	// 		background-color: #25252b;
	// 		transition: all 0.3s ease;
	// 	}
	// }
}

.container__newbie {
	display: block;
	box-sizing: border-box;
	width: 300px;
	height: 140px;
	margin: 25px 140px 0;
	padding: 30px;
}

.container__more {
	position: absolute;
	bottom: 25px;
	right: 25px;
}

.border {
	&__horizontal {
		width: 772px;
		height: 1px;
	}
	&__vertical {
		width: 68px;
		height: 1px;
		transform: rotate(90deg);
		margin: auto 0;
	}
	background: rgb(17, 17, 20);
	background: linear-gradient(90deg, rgba(17, 17, 20, 1) 0%, rgba(65, 65, 74, 1) 50%, rgba(17, 17, 20, 1) 100%);
}

.footer {
	//flex: 0 0 auto;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 45px 0;
	background-color: #202025;
	box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 1);
	&__text {
		margin-left: 40px;
		width: 772px;
	}
	&__p {
		font-size: 14px;
	}
	&__contacts {
		margin-top: 20px;
		margin-left: 125px;
	}
}
//!POPUS
.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	transition: 0.5s;
}

.detailedBar {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #111114;
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
	border-radius: 30px;
	width: 1060px;
	height: 734px;
	display: flex;
	flex-direction: column;
	padding: 25px 50px 50px 50px;
	transition: 0.5s;
	//top: 20%;
	//left: 50%;
	//transform: translate(-50%, -20%);
	&__item {
		display: flex;
		height: 120px;
		width: 100%;
		padding-bottom: 15px;
		position: relative;
		&_column {
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&__itemHalf {
		width: 50%;
		justify-content: center;
	}
	&__logo {
		display: block;
		margin: 0 auto;
	}
	&__profit {
		display: flex;
		//width: 50%;
		position: relative;
		// &:after {
		// 	content: 'После ввода 10$, 10 побед на ставках с вероятностью победить 50% и вывода выиграша.';
		// 	position: absolute;
		// 	top: 90%;
		// 	text-align: center;
		// 	color: #41414a;
		// }
	}
	&__icons {
		display: flex;
		justify-content: center;
		& > img {
			margin: 0 10px 0 10px;
		}
	}
	&__p {
		color: #41414a;
	}
	&__text {
		color: #41414a;
		text-align: center;
		padding-top: 20px;
	}
	&__absoluteTitle {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		&_bottom {
			top: -10%;
		}
	}
	&__betsTypes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__upperText {
		display: flex;
	}
	&__lowerText {
		display: flex;
		margin-top: 20px;
		& p {
			margin: 0 25px;
		}
	}
	&__grid {
		display: grid;
		grid-template: repeat(5, 40px) / 214px;
		align-items: center;
		justify-items: center;
	}
	&__smallerGrid {
		display: grid;
		grid-template: 40px / 40px 144px 30px;
		align-items: center;
		&_disabled {
			filter: contrast(0) url(#disabled);
		}
	}
	&__bottom {
		height: auto;
		margin-top: 100px;
	}
	&__closeButton {
		position: absolute;
		top: 25px;
		right: 25px;
		padding: 0;
		z-index: 3;
	}
}

.profit {
	&__title {
		font-size: 18px;
		font-weight: 400;
		color: #fff;
		margin: auto 0;
	}
	&__value {
		font-size: 22px;
		font-weight: 700;
		color: #059202;
	}
}

.hiddenSvg {
	display: none;
}
